*{
    box-sizing: border-box;
}

@font-face
{
    font-family: "datalegreya";
    src: url(datalegreya/datalegreya-thin.otf);
}

html
{
    height: 100%;
    width:100%;
}

body
{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "datalegreya";
}

h1
{
    text-align: right;
    font-size: 4em;
    flex:1;
    font-weight: normal;
    letter-spacing: 0.3em;
}

h2
{
    color:rgb(92,175,175);
}

.bloccouleur
{
    border-right: 1px solid grey;
    height: 100%;
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:15px;
    position: fixed;
    min-width: 250px;
    background-color: white;
    font-size: 1.2em;
}
.photo
{
    margin-top: 25px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.contact 
{
   margin:auto;
}

.ci
{
    margin:auto;
    max-width: 220.73px;
}

.page
{
    display: flex;
    flex-direction: column;
    margin-left:20%;
    width:100%;
}

.head
{
    display:flex;
    flex-direction: row-reverse;
    min-height:10em;
}

.présentation
{
    flex: 2;
    margin:5em;
    text-align: center;      
}

.zoom:hover{
font-size: 1.5em;
}

.information
{
    margin-top: 50px;
    border-top: 4px double black;   
    padding: 1.5em;
    min-width: 960px;
}

.études{
    font-size: 1.1em;
}

.c1
{
    border-right: 1px solid grey;
   
}

td
{
    min-width: 10em;
    vertical-align: top;
    padding: 8px;
}

tr
{
    width: 100%;
}

.connaissance
{
    display: flex;
    flex-wrap: nowrap;
}

.compétences
{
    padding-left: 10em;
}

table{
    border-collapse: collapse;
}

tr:hover
{
    color: rgb(92,175,175); 
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .photo{
        display:none; 
    }

    body{
        display: flex;
        flex-direction: column-reverse;
        height:auto;
        font-size: 1.2em;
    }

    .bloccouleur{
        width: 100%;
        flex-direction: row;
        position: initial;
    }
    .head{
        min-height: none;
        display:flex;
        flex-direction: column;
    }
    h1{
        font-size: none;
        letter-spacing: none;
    }
    .page{
        margin:0;
    }

    .connaissance{
        display:flex;
        flex-direction: column;
    }

    .compétences{
        padding: 0;
       
    }

    .ci{
        max-width: none;
    }
}

