*{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

@font-face
{
    font-family: "datalegreya";
    src: url(datalegreya/datalegreya-thin.otf);
}

html
{
    height: 100%;
    width:100%;
}

body
{
    height: 100%;
    width:100%;
    margin: 0;
    display: flex;
    align-items: flex-end;
    flex-wrap:wrap;
    font-family: "datalegreya";
}

.page
{
    display: flex;
    flex-direction: column;
    margin-left:20%;
    height:auto;
}

header
{
    display:flex;
    flex-direction: row-reverse;
}

h1
{
    text-align: right;
    font-size: 4em;
    font-weight: normal;
    letter-spacing: 0.3em;
}

.présentation
{
    margin:5em;
    text-align: center;
    font-size: 1.1em;       
}

.zoom:hover{
    font-size: 1.5em;
    }

main
{
    border-top: 4px double black;   
    padding-top: 4em;
    padding-left: 7em;
}

h2
{
    color:rgb(32,205,119);
}

table{
    border-collapse: collapse;
}

.c1
{
    border-right: 1px solid grey; 
    width: 180px;

}

td
{
    vertical-align: top;
    padding: 8px;
    font-size: 1em; 
}

tr:hover
{
    color:rgb(32,205,119);
    font-weight: bold;
}

.connaissance
{
    display: flex;
    padding-top:1.5em;

}

.compétences
{
    padding-left: 10em;

}

aside
{
    border-right: 1px solid grey;
    height: 100%;
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 250px;
    position: fixed;
    order:1;
    background-color: white;
}

.photo
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

.contact 
{
   width: 220px;
}

.ci
{
    width: 220px;
}

footer 
{
    padding-right: 1em;
    text-align: right;
    width:100%;
    order:3;
    padding-top:1em;
}


@media (max-width: 1024px) {

.page
{
    margin:0;
}

header
{
    flex-direction: column;
}

h1
{
    font-size:3em;
}

.présentation
{
    margin: auto;
    padding:1.5em;
    font-size: 1.5em;     
}

main
{
    padding-left:24px;
    padding-right: 24px;
}

main, h2
{
    margin-top: 30px;
}

h2
{
    font-size: 2em;
}

tr > td 
{
    width: 80%; 
}

.c1
{
    font-size:small;
    padding-left:0;
}

.connaissance
{
    flex-direction: column;
    padding-top:0;
}

.compétences
{
    padding: 0;   
}

aside
{
    flex-direction: column-reverse;
    position: initial;
    align-items: flex-start;
    padding-left:24px;
    border-right: none;
    height: auto;
}

.photo
{
    display:none; 
}

footer
{
    padding-right: 0;
    text-align: center;
}

}

